# Exercice des tiroirs

100 personnes font la queue devant un meuble de 100 tiroirs numérotés de 1 à 100.

* la première personne ouvre tous les tiroirs ;
* la deuxième personne ferme tous les tiroirs dont le numéro est pair ;
* la 3e personne s'intéresse aux tiroirs dont le numéro est multiple de 3 : 
  * si le tiroir est ouvert elle le ferme
  * si le tiroir est fermé elle l'ouvre
* la 4e personne s'intéresse aux tiroirs multiple de 4
* et ainsi de suite jusqu'à la 100e personne

Après le passage de toutes les personnes combien et quels tiroirs sont ouverts ?

# Test avec 10 tiroirs

On essaye d'abord avec 10 tiroirs et 10 personnes pour comprendre mieux comment ça se déroule.

La première ouvre tous les tiroirs.

In [60]:
import pandas as pd
nombre_tiroirs = 10
data = [['O' for i in range(1, nombre_tiroirs + 1)]]
titres_colonne = [f'tiroir {n}' for n in range(1, nombre_tiroirs + 1)]
tableau = pd.DataFrame(data, columns=titres_colonne, index=['personne 1'])
tableau

,tiroir 1,tiroir 2,tiroir 3,tiroir 4,tiroir 5,tiroir 6,tiroir 7,tiroir 8,tiroir 9,tiroir 10
personne 1,O,O,O,O,O,O,O,O,O,O

la deuxième personne ferme les tiroirs pair.

In [61]:
tableau.loc['personne 2'] = ['O', 'F', 'O', 'F', 'O', 'F', 'O', 'F', 'O', 'F']
tableau

,tiroir 1,tiroir 2,tiroir 3,tiroir 4,tiroir 5,tiroir 6,tiroir 7,tiroir 8,tiroir 9,tiroir 10
personne 1,O,O,O,O,O,O,O,O,O,O
personne 2,O,F,O,F,O,F,O,F,O,F

la troisième personne change les tiroirs multiples de 3.

In [62]:
tableau.loc['personne 3'] = ['O', 'F', 'F', 'F', 'O', 'O', 'O', 'F', 'F', 'F']
tableau

,tiroir 1,tiroir 2,tiroir 3,tiroir 4,tiroir 5,tiroir 6,tiroir 7,tiroir 8,tiroir 9,tiroir 10
personne 1,O,O,O,O,O,O,O,O,O,O
personne 2,O,F,O,F,O,F,O,F,O,F
personne 3,O,F,F,F,O,O,O,F,F,F

et ainsi de suite

In [63]:
tableau.loc['personne 4'] = ['O', 'F', 'F', 'O', 'O', 'O', 'O', 'O', 'F', 'F']
tableau.loc['personne 5'] = ['O', 'F', 'F', 'O', 'F', 'O', 'O', 'O', 'F', 'O']
tableau.loc['personne 6'] = ['O', 'F', 'F', 'O', 'F', 'F', 'O', 'O', 'F', 'O']
tableau.loc['personne 7'] = ['O', 'F', 'F', 'O', 'F', 'F', 'F', 'O', 'F', 'O']
tableau.loc['personne 8'] = ['O', 'F', 'F', 'O', 'F', 'F', 'F', 'F', 'F', 'O']
tableau.loc['personne 9'] = ['O', 'F', 'F', 'O', 'F', 'F', 'F', 'F', 'O', 'O']
tableau.loc['personne 10'] = ['O', 'F', 'F', 'O', 'F', 'F', 'F', 'F', 'O', 'F']
tableau

,tiroir 1,tiroir 2,tiroir 3,tiroir 4,tiroir 5,tiroir 6,tiroir 7,tiroir 8,tiroir 9,tiroir 10
personne 1,O,O,O,O,O,O,O,O,O,O
personne 2,O,F,O,F,O,F,O,F,O,F
personne 3,O,F,F,F,O,O,O,F,F,F
personne 4,O,F,F,O,O,O,O,O,F,F
personne 5,O,F,F,O,F,O,O,O,F,O
personne 6,O,F,F,O,F,F,O,O,F,O
personne 7,O,F,F,O,F,F,F,O,F,O
personne 8,O,F,F,O,F,F,F,F,F,O
personne 9,O,F,F,O,F,F,F,F,O,O
personne 10,O,F,F,O,F,F,F,F,O,F

Il semblerait que tous les nombres premiers sauf 1 (2, 3, 5, 7) soient fermés. En effet, ils sont ouverts une première fois par la première personne et comme il n'y a plus de multiples sauf eux-mêmes, ils sont refermés quand arrive la personne avec le même numéro que le tiroir.

Les nombres premiers n'ont que deux multiples : 1 et eux-mêmes.

Est-ce qu'on pourrait dire qu'un tiroir est fermé ou ouvert en fonction du nombre de multiple de chaque tiroir ?

Définissons une fonction qui calcule les multiples d'un nombre n :

In [54]:
def multiples(nombre: int):
    resultat = list()
    for candidat in range(1, nombre + 1):
        if nombre % candidat == 0:
            resultat.append(candidat)
    return resultat

In [55]:
assert multiples(1) == [1]
assert multiples(3) == [1, 3]
assert multiples(6) == [1, 2, 3, 6]
assert multiples(51) == [1, 3, 17, 51]

Vérifions avec notre tableau de 10 :

In [56]:
tableau.loc['multiples'] = [multiples(1), multiples(2), multiples(3), multiples(4), multiples(5), multiples(6), multiples(7), multiples(8), multiples(9), multiples(10)]
tableau

,tiroir 1,tiroir 2,tiroir 3,tiroir 4,tiroir 5,tiroir 6,tiroir 7,tiroir 8,tiroir 9,tiroir 10
personne 1,O,O,O,O,O,O,O,O,O,O
personne 2,O,F,O,F,O,F,O,F,O,F
personne 3,O,F,F,F,O,O,O,F,F,F
personne 4,O,F,F,O,O,O,O,O,F,F
personne 5,O,F,F,O,F,O,O,O,F,O
personne 6,O,F,F,O,F,F,O,O,F,O
personne 7,O,F,F,O,F,F,F,O,F,O
personne 8,O,F,F,O,F,F,F,F,F,O
personne 9,O,F,F,O,F,F,F,F,O,O
personne 10,O,F,F,O,F,F,F,F,O,F
multiples,[1],"[1, 2]","[1, 3]","[1, 2, 4]","[1, 5]","[1, 2, 3, 6]","[1, 7]","[1, 2, 4, 8]","[1, 3, 9]","[1, 2, 5, 10]"

Yay !! Il semble que chaque fois que le nombre de multiple est pair le tiroir est fermé, comme avec les nombres premiers, et à chaque fois qu'il est impair, le tiroir reste ouvert.

Il nous reste à tester notre hypothèse avec 10 personnes :

In [66]:
nombre_tiroirs = 10


def nombre_tiroirs_ouverts(nombre_tiroirs: int):
    resultat = 0
    for tiroir in range(1, nombre_tiroirs+1):
        liste_multiple = multiples(tiroir)
        tiroir_ouvert = len(liste_multiple) % 2
        print(f'tiroir {tiroir}: {"O" if tiroir_ouvert else "F"} (multiples : {liste_multiple})')
        if tiroir_ouvert:
            resultat += 1
    return resultat

print(f'nombre tiroirs ouverts : {nombre_tiroirs_ouverts(10)}')

tiroir 1: O (multiples : [1])
tiroir 2: F (multiples : [1, 2])
tiroir 3: F (multiples : [1, 3])
tiroir 4: O (multiples : [1, 2, 4])
tiroir 5: F (multiples : [1, 5])
tiroir 6: F (multiples : [1, 2, 3, 6])
tiroir 7: F (multiples : [1, 7])
tiroir 8: F (multiples : [1, 2, 4, 8])
tiroir 9: O (multiples : [1, 3, 9])
tiroir 10: F (multiples : [1, 2, 5, 10])
nombre tiroirs ouverts : 3

il reste à faire la même opération avec 100 personnes et 100 tiroirs

In [67]:
print(f'nombre tiroirs ouverts : {nombre_tiroirs_ouverts(100)}')

tiroir 1: O (multiples : [1])
tiroir 2: F (multiples : [1, 2])
tiroir 3: F (multiples : [1, 3])
tiroir 4: O (multiples : [1, 2, 4])
tiroir 5: F (multiples : [1, 5])
tiroir 6: F (multiples : [1, 2, 3, 6])
tiroir 7: F (multiples : [1, 7])
tiroir 8: F (multiples : [1, 2, 4, 8])
tiroir 9: O (multiples : [1, 3, 9])
tiroir 10: F (multiples : [1, 2, 5, 10])
tiroir 11: F (multiples : [1, 11])
tiroir 12: F (multiples : [1, 2, 3, 4, 6, 12])
tiroir 13: F (multiples : [1, 13])
tiroir 14: F (multiples : [1, 2, 7, 14])
tiroir 15: F (multiples : [1, 3, 5, 15])
tiroir 16: O (multiples : [1, 2, 4, 8, 16])
tiroir 17: F (multiples : [1, 17])
tiroir 18: F (multiples : [1, 2, 3, 6, 9, 18])
tiroir 19: F (multiples : [1, 19])
tiroir 20: F (multiples : [1, 2, 4, 5, 10, 20])
tiroir 21: F (multiples : [1, 3, 7, 21])
tiroir 22: F (multiples : [1, 2, 11, 22])
tiroir 23: F (multiples : [1, 23])
tiroir 24: F (multiples : [1, 2, 3, 4, 6, 8, 12, 24])
tiroir 25: O (multiples : [1, 5, 25])
tiroir 26: F (multiples : [1, 2, 13, 26])
tiroir 27: F (multiples : [1, 3, 9, 27])
tiroir 28: F (multiples : [1, 2, 4, 7, 14, 28])
tiroir 29: F (multiples : [1, 29])
tiroir 30: F (multiples : [1, 2, 3, 5, 6, 10, 15, 30])
tiroir 31: F (multiples : [1, 31])
tiroir 32: F (multiples : [1, 2, 4, 8, 16, 32])
tiroir 33: F (multiples : [1, 3, 11, 33])
tiroir 34: F (multiples : [1, 2, 17, 34])
tiroir 35: F (multiples : [1, 5, 7, 35])
tiroir 36: O (multiples : [1, 2, 3, 4, 6, 9, 12, 18, 36])
tiroir 37: F (multiples : [1, 37])
tiroir 38: F (multiples : [1, 2, 19, 38])
tiroir 39: F (multiples : [1, 3, 13, 39])
tiroir 40: F (multiples : [1, 2, 4, 5, 8, 10, 20, 40])
tiroir 41: F (multiples : [1, 41])
tiroir 42: F (multiples : [1, 2, 3, 6, 7, 14, 21, 42])
tiroir 43: F (multiples : [1, 43])
tiroir 44: F (multiples : [1, 2, 4, 11, 22, 44])
tiroir 45: F (multiples : [1, 3, 5, 9, 15, 45])
tiroir 46: F (multiples : [1, 2, 23, 46])
tiroir 47: F (multiples : [1, 47])
tiroir 48: F (multiples : [1, 2, 3, 4, 6, 8, 12, 16, 24, 48])
tiroir 49: O (multiples : [1, 7, 49])
tiroir 50: F (multiples : [1, 2, 5, 10, 25, 50])
tiroir 51: F (multiples : [1, 3, 17, 51])
tiroir 52: F (multiples : [1, 2, 4, 13, 26, 52])
tiroir 53: F (multiples : [1, 53])
tiroir 54: F (multiples : [1, 2, 3, 6, 9, 18, 27, 54])
tiroir 55: F (multiples : [1, 5, 11, 55])
tiroir 56: F (multiples : [1, 2, 4, 7, 8, 14, 28, 56])
tiroir 57: F (multiples : [1, 3, 19, 57])
tiroir 58: F (multiples : [1, 2, 29, 58])
tiroir 59: F (multiples : [1, 59])
tiroir 60: F (multiples : [1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 30, 60])
tiroir 61: F (multiples : [1, 61])
tiroir 62: F (multiples : [1, 2, 31, 62])
tiroir 63: F (multiples : [1, 3, 7, 9, 21, 63])
tiroir 64: O (multiples : [1, 2, 4, 8, 16, 32, 64])
tiroir 65: F (multiples : [1, 5, 13, 65])
tiroir 66: F (multiples : [1, 2, 3, 6, 11, 22, 33, 66])
tiroir 67: F (multiples : [1, 67])
tiroir 68: F (multiples : [1, 2, 4, 17, 34, 68])
tiroir 69: F (multiples : [1, 3, 23, 69])
tiroir 70: F (multiples : [1, 2, 5, 7, 10, 14, 35, 70])
tiroir 71: F (multiples : [1, 71])
tiroir 72: F (multiples : [1, 2, 3, 4, 6, 8, 9, 12, 18, 24, 36, 72])
tiroir 73: F (multiples : [1, 73])
tiroir 74: F (multiples : [1, 2, 37, 74])
tiroir 75: F (multiples : [1, 3, 5, 15, 25, 75])
tiroir 76: F (multiples : [1, 2, 4, 19, 38, 76])
tiroir 77: F (multiples : [1, 7, 11, 77])
tiroir 78: F (multiples : [1, 2, 3, 6, 13, 26, 39, 78])
tiroir 79: F (multiples : [1, 79])
tiroir 80: F (multiples : [1, 2, 4, 5, 8, 10, 16, 20, 40, 80])
tiroir 81: O (multiples : [1, 3, 9, 27, 81])
tiroir 82: F (multiples : [1, 2, 41, 82])
tiroir 83: F (multiples : [1, 83])
tiroir 84: F (multiples : [1, 2, 3, 4, 6, 7, 12, 14, 21, 28, 42, 84])
tiroir 85: F (multiples : [1, 5, 17, 85])
tiroir 86: F (multiples : [1, 2, 43, 86])
tiroir 87: F (multiples : [1, 3, 29, 87])
tiroir 88: F (multiples : [1, 2, 4, 8, 11, 22, 44, 88])
tiroir 89: F (multiples : [1, 89])
tiroir 90: F (multiples : [1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90])
tiroir 91: F (multiples : [1, 7, 13, 91])
tiroir 92: F (multiples : [1, 2, 4, 23, 46, 92])
tiroir 93: F (multiples : [1, 3, 31, 93])
tiroir 94: F (multiples : [1, 2, 47, 94])
tiroir 95: F (multiples : [1, 5, 19, 95])
tiroir 96: F (multiples : [1, 2, 3, 4, 6, 8, 12, 16, 24, 32, 48, 96])
tiroir 97: F (multiples : [1, 97])
tiroir 98: F (multiples : [1, 2, 7, 14, 49, 98])
tiroir 99: F (multiples : [1, 3, 9, 11, 33, 99])
tiroir 100: O (multiples : [1, 2, 4, 5, 10, 20, 25, 50, 100])
nombre tiroirs ouverts : 10